.BookList {
    width: 100%;
}

.BookList .BookList-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.BookList .BookList-list .BookList-list-item {
    margin: 0 10px 10px 0;
}
